*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3{
    font-family: "Montserrat", sans-serif;
}

p{
    font-family: "Open Sans", sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    line-height: 1.5;
}

#hero{
    display: flex;
    min-height: 100svh;
    position: relative;
    justify-content: center;
    align-items: center;
}

#textArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#textArea h1{
    font-size: clamp(2rem, 5vw, 4rem);
    color: #FFA500;
    text-shadow: 5px 5px 12px rgba(0, 0, 0, 0.8);
}

#textArea p{
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 65%;
    color: #D4D2E0;
}

#hero video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#mainContent{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem 6rem;
    gap: 3rem;
}

nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 1rem;
    width: 100%;
    border-radius: 20px;
    background-color: #FFA500;
    padding: 1rem;
    z-index: 1;
}

nav a{
    text-decoration: none;
    color: #D4D2E0;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 1rem 2rem;
    font-weight: bold;
    transition: transform 0.5s;
}

nav a:hover{
    transform: translateY(-2px);
    background-color: #D4D2E0;
    color: black;
}

#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.textBox{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 2rem;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    transition: border 0.5s, transform 0.3s;
}

.textBox:hover, #textBox-1:hover, #textBox-2:hover{
    border: 3px solid #FFA500;
    transform: translateY(-2px);
}

.text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.textBox p, .textBox li{
    font-size: 1rem;
    font-weight: 600;
}

.text div{
    padding: 1rem;
}

.text h2, #textBox-1 h2, .text h3{
    color: #FFA500;
}

strong{
    text-decoration: underline #FFA500;
    color: #FFA500;
}

#textBox-1{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    transition: border 0.5s, transform 0.3s;
    gap: 1rem;
}

.inText{
    display: flex;
    flex-direction: column;
    height: 2rem;
    border-radius: 20px;
    border: 3px solid black;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
}

.inText p, .inText ul li{
    font-weight: 800;
}

.inText:hover{
    height: auto;
}

.inText ul{
    padding: 1.5rem;
}

#textBox-2{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    transition: border 0.5s, transform 0.3s;
    gap: 1rem;
}

#text-1{
    display: flex;
    justify-content: center;
    gap: 2.5rem;

}

.box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box div{
    display: flex;
    gap: 1rem;
}

.box div img{
    height: auto;
    border-radius: 20px;
    width: 50%;
}

#footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 15rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-top: 3px solid black;
}

#fText img{
    width: 50%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 1rem;
}

#fText h3, #mfooter span, #fSource p{
    color: #D4D2E0;
    font-weight: 800;
}

#f1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mfooter{
    background-color: rgba(44, 40, 40, 1);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid black;
}

#fSource{
    width: 50%;
}

#fSource a{
    display: block;
    text-decoration: none;
    color: #D4D2E0;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    transition: transform 0.5s;
    margin-bottom: 2rem;
    text-align: center;
}

#fSource a:hover{
    transform: translateY(-2px);
}