*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3{
    font-family: "Montserrat", sans-serif;
}

p{
    font-family: "Open Sans", sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    line-height: 1.5;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    background-image: url(../images/heroBannerHome.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#textArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#textArea h1{
    font-size: 4rem;
    text-shadow: 5px 5px 12px rgba(0, 0, 0, 0.8);
}

#textArea p{
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 65%;
    color: #D4D2E0;
}

#mainContent{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem 6rem;
    gap: 3rem;
}

nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 1rem;
    width: 100%;
    border-radius: 20px;
    background-color: #005641;
    padding: 1rem;
    z-index: 1;
}

nav a{
    text-decoration: none;
    color: #D4D2E0;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 1rem 2rem;
    font-weight: bold;
    transition: transform 0.5s;
}

nav a:hover{
    transform: translateY(-2px);
    background-color: #E21320;
}

#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.textBox{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 2rem;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    transition: border 0.5s, transform 0.3s;
}

.textBox:hover{
    border: 3px solid #005641;
    transform: translateY(-2px);
}

.text{
    width: 50%;
}

.text h2{
    color: #E21320;
}

.text a{
    color: #E21320;
}

.text a:hover{
    color: #005641;
}

.textBox img, video{
    display: block;
    height: auto;
    max-width: 50%;
    border-radius: 20px;
    object-fit: cover;
}

strong{
    color: #005641;
}

#footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 15rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-top: 3px solid black;
}

#fText img{
    width: 50%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 1rem;
}

#fText h3, #mfooter span, #fSource p{
    color: #D4D2E0;
    font-weight: 800;
}

#f1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mfooter{
    background-color: rgba(44, 40, 40, 1);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid black;
}

#fSource{
    width: 50%;
}

#fSource a{
    display: block;
    text-decoration: none;
    color: #D4D2E0;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    transition: transform 0.5s;
    margin-bottom: 2rem;
    text-align: center;
}

#fSource a:hover{
    transform: translateY(-2px);
}
